array(13) {
    ["current_page"]=> int(1)
    ["data"]=> array(2) {
         [0]=> array(38) {
             ["id"]=> int(1)
             ["treatment_id"]=> int(1)
             ["category_id"]=> int(1)
             ["expertise_id"]=> int(1)
             ["hospital_id"]=> string(1) "1"
             ["user_id"]=> int(2)
             ["image"]=> string(17) "64f3cddf0b774.jpg"
             ["desc"]=> string(13) "Buen cirujano"
             ["education"]=> string(65) "[{"degree":"bca","college":"saurastra university","year":"2022"}]"
             ["certificate"]=> string(49) "[{"certificate":"bca","certificate_year":"2022"}]"
             ["appointment_fees"]=> string(2) "40"
             ["experience"]=> string(1) "4"
             ["timeslot"]=> string(2) "15"
             ["name"]=> string(4) "Rich"
             ["dob"]=> string(10) "2023-09-01"
             ["gender"]=> string(4) "male"
             ["start_time"]=> string(8) "08:00 PM"
             ["end_time"]=> string(8) "11:00 PM"
             ["since"]=> string(21) "2023-09-03 , 05:34 AM"
             ["status"]=> int(1)
             ["subscription_status"]=> int(1)
             ["based_on"]=> string(12) "subscription"
             ["is_popular"]=> int(1)
             ["commission_amount"]=> string(0) ""
             ["custom_timeslot"]=> NULL
             ["is_filled"]=> int(1)
             ["language"]=> NULL
             ["patient_vcall"]=> int(0)
             ["created_at"]=> string(27) "2023-09-03T00:04:02.000000Z"
             ["updated_at"]=> string(27) "2023-09-03T00:05:51.000000Z"
             ["fullImage"]=> string(55) "http://localhost/doctor/images/upload/64f3cddf0b774.jpg"
             ["rate"]=> int(0)
             ["review"]=> int(0)
             ["treatment"]=> array(7) {
                 ["id"]=> int(1)
                 ["name"]=> string(14) "Cirugia lumbar"
                 ["image"]=> string(17) "64f3cc3c7e9ab.jpg"
                 ["status"]=> int(1)
                 ["created_at"]=> string(27) "2023-09-02T23:58:52.000000Z"
                 ["updated_at"]=> string(27) "2023-09-02T23:58:52.000000Z"
                 ["fullImage"]=> string(55) "http://localhost/doctor/images/upload/64f3cc3c7e9ab.jpg"
                }
             ["category"]=> array(8) {
                 ["id"]=> int(1)
                 ["name"]=> string(7) "Cirugia"
                 ["image"]=> string(16) "prod_default.png"
                 ["treatment_id"]=> int(1)
                 ["status"]=> int(1)
                 ["created_at"]=> string(27) "2023-09-02T23:59:35.000000Z"
                 ["updated_at"]=> string(27) "2023-09-02T23:59:35.000000Z"
                 ["fullImage"]=> string(54) "http://localhost/doctor/images/upload/prod_default.png"
                }
             ["expertise"]=> array(6) {
                 ["id"]=> int(1)
                 ["name"]=> string(17) "Cirugia vertebral"
                 ["category_id"]=> int(1)
                 ["status"]=> int(1)
                 ["created_at"]=> string(27) "2023-09-03T00:00:22.000000Z"
                 ["updated_at"]=> string(27) "2023-09-03T00:00:22.000000Z"
                }
             ["is_fav"]=> bool(false)
             ["hospital"]=> array(1) {
                 [0]=> object(App\Models\Hospital)#1841 (30) {
                     ["connection":protected]=> string(5) "mysql"
                     ["table":protected]=> string(8) "hospital"
                     ["primaryKey":protected]=> string(2) "id"
                     ["keyType":protected]=> string(3) "int"
                     ["incrementing"]=> bool(true)
                     ["with":protected]=> array(0) { }
                     ["withCount":protected]=> array(0) { }
                     ["preventsLazyLoading"]=> bool(false)
                     ["perPage":protected]=> int(15)
                     ["exists"]=> bool(true)
                     ["wasRecentlyCreated"]=> bool(false)
                     ["escapeWhenCastingToString":protected]=> bool(false)
                     ["attributes":protected]=> array(10) {
                        ["id"]=> int(1)
                        ["name"]=> string(17) "Maria Auxiliadora"
                        ["phone"]=> string(9) "883838838"
                        ["address"]=> string(4) "Lima"
                        ["lat"]=> string(10) "40.7127281"
                        ["lng"]=> string(11) "-74.0060152"
                        ["facility"]=> string(18) "Hospital Humanidad"
                        ["status"]=> int(1)
                        ["created_at"]=> string(19) "2023-09-03 05:26:44"
                        ["updated_at"]=> string(19) "2023-09-03 05:26:44"
                    }
                ["original":protected]=> array(10) {
                     ["id"]=> int(1)
                     ["name"]=> string(17) "Maria Auxiliadora"
                     ["phone"]=> string(9) "883838838"
                     ["address"]=> string(4) "Lima"
                     ["lat"]=> string(10) "40.7127281"
                     ["lng"]=> string(11) "-74.0060152"
                     ["facility"]=> string(18) "Hospital Humanidad"
                     ["status"]=> int(1)
                     ["created_at"]=> string(19) "2023-09-03 05:26:44"
                     ["updated_at"]=> string(19) "2023-09-03 05:26:44"
                    }
                ["changes":protected]=> array(0) { }
                ["casts":protected]=> array(0) { }
                ["classCastCache":protected]=> array(0) { }
                ["attributeCastCache":protected]=> array(0) { }
                ["dates":protected]=> array(0) { }
                ["dateFormat":protected]=> NULL
                ["appends":protected]=> array(0) { }
                ["dispatchesEvents":protected]=> array(0) { }
                ["observables":protected]=> array(0) { }
                ["relations":protected]=> array(0) { }
                ["touches":protected]=> array(0) { }
                ["timestamps"]=> bool(true)
                ["hidden":protected]=> array(0) { }
                ["visible":protected]=> array(0) { }
                ["fillable":protected]=> array(7) {
                    [0]=> string(4) "name"
                    [1]=> string(5) "phone"
                    [2]=> string(7) "address"
                    [3]=> string(3) "lat"
                    [4]=> string(3) "lng"
                    [5]=> string(8) "facility"
                    [6]=> string(6) "status" }
                ["guarded":protected]=> array(1) { [0]=> string(1) "*" }
            }
         }
         }
        [1]=> array(38) {
            ["id"]=> int(2)
            ["treatment_id"]=> int(1)
            ["category_id"]=> int(1)
            ["expertise_id"]=> int(1)
            ["hospital_id"]=> string(1) "1"
            ["user_id"]=> int(4)
            ["image"]=> string(17) "64f3d5035fef2.jpg"
            ["desc"]=> string(11) "buen doctor"
            ["education"]=> string(55) "[{"degree":"Bachiller","college":"UNFV","year":"2016"}]"
            ["certificate"]=> string(53) "[{"certificate":"Essalud","certificate_year":"2017"}]"
            ["appointment_fees"]=> string(2) "40" ["experience"]=> string(2) "10"
            ["timeslot"]=> string(2) "15"
            ["name"]=> string(5) "frank"
            ["dob"]=> string(10) "2023-09-01"
            ["gender"]=> string(4) "male"
            ["start_time"]=> string(8) "08:00 AM"
            ["end_time"]=> string(8) "08:00 PM"
            ["since"]=> string(21) "2023-09-03 , 06:05 AM"
            ["status"]=> int(1)
            ["subscription_status"]=> int(1)
            ["based_on"]=> string(10) "commission"
            ["is_popular"]=> int(0)
            ["commission_amount"]=> string(2) "10"
            ["custom_timeslot"]=> NULL
            ["is_filled"]=> int(1)
            ["language"]=> string(7) "English"
            ["patient_vcall"]=> int(0)
            ["created_at"]=> string(27) "2023-09-03T00:35:01.000000Z"
            ["updated_at"]=> string(27) "2023-09-03T00:36:19.000000Z"
            ["fullImage"]=> string(55) "http://localhost/doctor/images/upload/64f3d5035fef2.jpg"
            ["rate"]=> int(0)
            ["review"]=> int(0)
            ["treatment"]=> array(7) {
                ["id"]=> int(1)
                ["name"]=> string(14) "Cirugia lumbar"
                ["image"]=> string(17) "64f3cc3c7e9ab.jpg"
                ["status"]=> int(1)
                ["created_at"]=> string(27) "2023-09-02T23:58:52.000000Z"
                ["updated_at"]=> string(27) "2023-09-02T23:58:52.000000Z"
                ["fullImage"]=> string(55) "http://localhost/doctor/images/upload/64f3cc3c7e9ab.jpg"
            }
            ["category"]=> array(8) {
                ["id"]=> int(1)
                ["name"]=> string(7) "Cirugia"
                ["image"]=> string(16) "prod_default.png"
                ["treatment_id"]=> int(1)
                ["status"]=> int(1)
                ["created_at"]=> string(27) "2023-09-02T23:59:35.000000Z"
                ["updated_at"]=> string(27) "2023-09-02T23:59:35.000000Z"
                ["fullImage"]=> string(54) "http://localhost/doctor/images/upload/prod_default.png"
            }
            ["expertise"]=> array(6) {
                ["id"]=> int(1)
                ["name"]=> string(17) "Cirugia vertebral"
                ["category_id"]=> int(1)
                ["status"]=> int(1)
                ["created_at"]=> string(27) "2023-09-03T00:00:22.000000Z"
                ["updated_at"]=> string(27) "2023-09-03T00:00:22.000000Z"
            }
            ["is_fav"]=> bool(false)
            ["hospital"]=> array(1) {
                [0]=> object(App\Models\Hospital)#1834 (30) {
                    ["connection":protected]=> string(5) "mysql"
                    ["table":protected]=> string(8) "hospital"
                    ["primaryKey":protected]=> string(2) "id"
                    ["keyType":protected]=> string(3) "int"
                    ["incrementing"]=> bool(true)
                    ["with":protected]=> array(0) { }
                    ["withCount":protected]=> array(0) { }
                    ["preventsLazyLoading"]=> bool(false)
                    ["perPage":protected]=> int(15)
                    ["exists"]=> bool(true)
                    ["wasRecentlyCreated"]=> bool(false)
                    ["escapeWhenCastingToString":protected]=> bool(false)
                    ["attributes":protected]=> array(10) {
                        ["id"]=> int(1)
                        ["name"]=> string(17) "Maria Auxiliadora"
                        ["phone"]=> string(9) "883838838"
                        ["address"]=> string(4) "Lima"
                        ["lat"]=> string(10) "40.7127281"
                        ["lng"]=> string(11) "-74.0060152"
                        ["facility"]=> string(18) "Hospital Humanidad"
                        ["status"]=> int(1)
                        ["created_at"]=> string(19) "2023-09-03 05:26:44"
                        ["updated_at"]=> string(19) "2023-09-03 05:26:44"
                    }
                    ["original":protected]=> array(10) {
                        ["id"]=> int(1)
                        ["name"]=> string(17) "Maria Auxiliadora"
                        ["phone"]=> string(9) "883838838"
                        ["address"]=> string(4) "Lima"
                        ["lat"]=> string(10) "40.7127281"
                        ["lng"]=> string(11) "-74.0060152"
                        ["facility"]=> string(18) "Hospital Humanidad"
                        ["status"]=> int(1)
                        ["created_at"]=> string(19) "2023-09-03 05:26:44"
                        ["updated_at"]=> string(19) "2023-09-03 05:26:44"
                    }
                    ["changes":protected]=> array(0) { }
                    ["casts":protected]=> array(0) { }
                    ["classCastCache":protected]=> array(0) { }
                    ["attributeCastCache":protected]=> array(0) { }
                    ["dates":protected]=> array(0) { }
                    ["dateFormat":protected]=> NULL ["appends":protected]=> array(0) { }
                    ["dispatchesEvents":protected]=> array(0) { }
                    ["observables":protected]=> array(0) { }
                    ["relations":protected]=> array(0) { }
                    ["touches":protected]=> array(0) { }
                    ["timestamps"]=> bool(true)
                    ["hidden":protected]=> array(0) { }
                    ["visible":protected]=> array(0) { }
                    ["fillable":protected]=> array(7) {
                        [0]=> string(4) "name"
                        [1]=> string(5) "phone"
                        [2]=> string(7) "address"
                        [3]=> string(3) "lat"
                        [4]=> string(3) "lng"
                        [5]=> string(8) "facility"
                        [6]=> string(6) "status"
                    }
                    ["guarded":protected]=> array(1) { [0]=> string(1) "*" }
                }
            }
            }
        }
        ["first_page_url"]=> string(43) "http://localhost/doctor/show-doctors?page=1"
        ["from"]=> int(1)
        ["last_page"]=> int(1)
        ["last_page_url"]=> string(43) "http://localhost/doctor/show-doctors?page=1"
        ["links"]=> array(3) {
        [0]=> array(3) {
            ["url"]=> NULL
            ["label"]=> string(16) "« Previous"
            ["active"]=> bool(false)
        }
        [1]=> array(3) {
            ["url"]=> string(43) "http://localhost/doctor/show-doctors?page=1"
            ["label"]=> string(1) "1"
            ["active"]=> bool(true)
        }
        [2]=> array(3) {
            ["url"]=> NULL
            ["label"]=> string(12) "Next »"
            ["active"]=> bool(false)
        }
        }
        ["next_page_url"]=> NULL
        ["path"]=> string(36) "http://localhost/doctor/show-doctors"
        ["per_page"]=> int(5)
        ["prev_page_url"]=> NULL
        ["to"]=> int(2)
        ["total"]=> int(2)
}
<div class="jet-listing-grid__item jet-listing-dynamic-post-1278" data-post-id="1278">		<div data-elementor-type="jet-listing-items" data-elementor-id="1119" class="elementor elementor-1119" data-elementor-post-type="jet-engine">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-627e83c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="627e83c" data-element_type="section">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-75e4803" data-id="75e4803" data-element_type="column">
<div class="elementor-widget-wrap elementor-element-populated">
<section class="elementor-section elementor-inner-section elementor-element elementor-element-fbaa407 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="fbaa407" data-element_type="section">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-117ee0d" data-id="117ee0d" data-element_type="column">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-46899f5 elementor-widget elementor-widget-image" data-id="46899f5" data-element_type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
<img decoding="async" src="wp-content/uploads/jet-engine-forms/guest/2023/08/Group-8469-5.png" title="" alt="" loading="lazy">															</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-284fe0f" data-id="284fe0f" data-element_type="column">
<div class="elementor-widget-wrap elementor-element-populated">
<section class="elementor-section elementor-inner-section elementor-element elementor-element-d89cf96 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d89cf96" data-element_type="section">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-918188c" data-id="918188c" data-element_type="column">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-f6970b1 elementor-widget elementor-widget-jet-listing-dynamic-link" data-id="f6970b1" data-element_type="widget" data-widget_type="jet-listing-dynamic-link.default">
<div class="elementor-widget-container">
<div class="jet-listing jet-listing-dynamic-link"><a href="../profesionales/tatiana/index7869.html?_post_id=1278" class="jet-listing-dynamic-link__link"><span class="jet-listing-dynamic-link__label">Tatiana</span></a></div>		</div>
</div>
<div class="elementor-element elementor-element-74d2eed elementor-widget elementor-widget-heading" data-id="74d2eed" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<span class="elementor-heading-title elementor-size-default">mexico</span>		</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1fdd4dc" data-id="1fdd4dc" data-element_type="column">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-a2cf6f9 elementor-widget__width-auto elementor-widget elementor-widget-button" data-id="a2cf6f9" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-sm" href="#">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-icon elementor-align-icon-left">
<i aria-hidden="true" class="far fa-heart"></i>			</span>
<span class="elementor-button-text"></span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="elementor-section elementor-inner-section elementor-element elementor-element-4ea335e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4ea335e" data-element_type="section">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bd712ea" data-id="bd712ea" data-element_type="column">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-cc9c6c7 elementor-widget elementor-widget-heading" data-id="cc9c6c7" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<span class="elementor-heading-title elementor-size-default">psiquiatria</span>		</div>
</div>
<div class="elementor-element elementor-element-9a7c7dd elementor-widget__width-auto elementor--star-style-star_fontawesome elementor-widget elementor-widget-star-rating" data-id="9a7c7dd" data-element_type="widget" data-widget_type="star-rating.default">
<div class="elementor-widget-container">

<div class="elementor-star-rating__wrapper">
<div class="elementor-star-rating" title="4/5" itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating"><i class="elementor-star-full"></i><i class="elementor-star-full"></i><i class="elementor-star-full"></i><i class="elementor-star-full"></i><i class="elementor-star-empty"></i> <span itemprop="ratingValue" class="elementor-screen-only">4/5</span></div>		</div>
</div>
</div>
<div class="elementor-element elementor-element-8a5983b elementor-widget__width-auto elementor-widget elementor-widget-heading" data-id="8a5983b" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<span class="elementor-heading-title elementor-size-default">4.5</span>		</div>
</div>
<div class="elementor-element elementor-element-87022f2 elementor-widget__width-auto elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="87022f2" data-element_type="widget" data-widget_type="icon-list.default">
<div class="elementor-widget-container">
<ul class="elementor-icon-list-items">
<li class="elementor-icon-list-item">
            <span class="elementor-icon-list-icon">
<i aria-hidden="true" class="fas fa-circle"></i>						</span>
        <span class="elementor-icon-list-text">154 evaluaciones</span>
    </li>
</ul>
</div>
</div>
<div class="elementor-element elementor-element-8c1d490 elementor-widget__width-auto elementor-widget elementor-widget-heading" data-id="8c1d490" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<span class="elementor-heading-title elementor-size-default">Cédula (2332423)</span>		</div>
</div>
<div class="elementor-element elementor-element-617a90d elementor-widget__width-initial elementor-widget elementor-widget-heading" data-id="617a90d" data-element_type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<p class="elementor-heading-title elementor-size-default">Licenciada en psicología orientada a la rama humanista, con experiencia en el sector educativo y clínico con Especialización internacional en recursos terapéuticos infanto-juvenil</p>		</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c1a6325" data-id="c1a6325" data-element_type="column">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-bf966e3 elementor-align-right elementor-mobile-align-justify elementor-widget elementor-widget-button" data-id="bf966e3" data-element_type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-push" href="../profesionales/tatiana/index.html">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-text">Ver perfil profesional</span>
</span>
</a>
</div>
</div>
</div>
<div class="jet-popup-target elementor-element elementor-element-c93ebb6 elementor-align-right elementor-mobile-align-justify modalbtn elementor-widget elementor-widget-button jet-popup-attach-event-inited" data-jet-popup="{&quot;attached-popup&quot;:&quot;jet-popup-1605&quot;,&quot;trigger-type&quot;:&quot;click&quot;,&quot;trigger-custom-selector&quot;:&quot;&quot;}" data-id="c93ebb6" data-element_type="widget" data-btn="uno" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="#">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-text">Programa una cita</span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</section>
</div>
</div>
